{% extends 'base.html' %}
{% block body %}
<body background="static/services/ser3.jpg">
<marquee><h1 style ="color:white"> mCoder </h2> </marquee>
<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1 style="color:white" >Our Services</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon"> <img src="static/services/1.png"> </div>
                    <h4 style="color:white">Settings</h4>
                    <p style="color:white">Setting is the time and place (or when and where) of the story. It’s a literary element of literature used in novels,
                    short stories, plays, films, etc., and usually introduced during the exposition (beginning) of the story, along with the characters. 
                    The setting may also include the environment of the story, which can be made up of the physical location, climate, weather, or social and cultural surroundings.
                    There are various ways that time and place indicate setting. Time can cover many areas, such as the character’s time of life, the time of day, time of year,
                    time period such as the past, present, or future, etc. Place also covers a lot of areas, such as a certain building, room in a building, country, city, beach,
                    in a mode of transport such as a car, bus, boat, indoors or out, etc.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services speedup">
                    <div class="icon"> <img src="static/services/2.png"> </div>
                    <h4 style="color:white">Speedup</h4>
                    <p style="color:white">In this century we want fast work it means this website is more fast it do yorw fastly it save your precious time
                    Fast data is data in motion, streaming into applications and computing environments from hundreds of thousands to millions of endpoints—mobile
                    devices, sensor networks, financial transactions, stock tick feeds, logs, retail systems, telco call routing and authorization systems, and more.
                    Real-time applications built on top of fast data are changing the game for businesses that are data dependent: telco, financial services, health/medical,
                    energy, and others. It’s also changing the game for developers, who must build applications to handle increasing streams of data.1</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services privacy">
                    <div class="icon"> <img src="static/services/3.png"> </div>
                    <h4 style="color:white">Privacy</h4>
                    <p style="color:white">In this century we have lots of data that is more sensitive so we can
                    provide you securiyt and  protect your data from else .Data privacy, sometimes also referred 
                    to as information privacy, is an area of data protection that concerns the proper handling of 
                    sensitive data including, notably, personal data[1] but also other confidential data, such as 
                    certain financial data and intellectual property data, to meet regulatory requirements as well 
                    as protecting the confidentiality and immutability of the data. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services backups">
                    <div class="icon"> <img src="static/services/4.png"> </div>
                    <h4 style="color:white">Backups</h4>
                    <p style="color:white">Backup and recovery describes the process of creating and storing copies of data
                     that can be used to protect organizations against data loss. This is sometimes referred to as operational recovery.
                      Recovery from a backup typically involves restoring the data to the original location, or to an alternate location
                       where it can be used in place of the lost or damaged data.
                        A proper backup copy is stored in a separate system or medium, such as tape, from the primary data to protect against
                         the possibility of data loss due to primary hardware or software failure. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services ssl">
                    <div class="icon"> <img src="static/services/5.png"> </div>
                    <h4 style="color:white">SSL secured</h4>
                    <p style="color:white">Stands for "Secure Sockets Layer." SSL is a secure protocol developed for sending information securely
                     over the Internet. Many websites use SSL for secure areas of their sites, such as user account pages and online checkout. 
                     Usually, when you are asked to "log in" on a website, the resulting page is secured by SSL.
                     SSL encrypts the data being transmitted so that a third party cannot 
                      "eavesdrop" on the transmission and view the data being transmitted. 
                      Only the user's computer and the secure server are able to recognize the data. 
                      SSL keeps your name, address, and credit card information between you and merchant to which you are providing it. 
                    Without this kind of encryption, online shopping would be far too insecure to be practical.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                    <div class="icon"> <img src="static/services/6.png"> </div>
                    <h4 style="color:white">Database</h4>
                    <p style="color:white">A database is a data structure that stores organized information. Most databases contain multiple tables,
                    which may each include several different fields. For example, a company database may include tables for products, employees, and
                    financial records. Each of these tables would have different fields that are relevant to the information stored in the table.
                    Nearly all e-commerce sites uses databases to store product inventory and customer information. These sites use a database management system (or DBMS),
                    such as Microsoft Access, FileMaker Pro, or MySQL as the "back end" to the website. By storing website data in a database, the data can be easily searched,
                    sorted, and updated. This flexibility is important for e-commerce sites and other types of dynamic websites.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock body %}